
<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">Createstroy</div>
        <div class="card-body">
          <%= form_with(model: story, local: true, multipart: true) do |form| %>
              <div class="form-group row mt-2">
              <div class="col pl-0">
                <%= form.file_field :image, accept: "image/*" , class:"form-control border-0",placeholder: 'Say something about this ...'%>
              </div>
            
              <div class="dz-message m-0"></div>
              <div class="dropzone-previews mb-3">
              <div class="upload-photos-icon">
              <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2"></i>
              </div>
          </div>
          <%= form.submit "story", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>