<h1 class="mt-5">welcome to insta clone</h1>
<p class="lead">please sign in to continue</p>


<%= link_to "Sign up", new_account_registration_path,class:"btn btn-success" %>
<%= link_to "Login", new_account_session_path,class:"btn btn-secondary"  %>
